@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<!doctype html>
<html lang="en">
<body>
    <section id="home" class="w3l-banner py-5">
        <div class="banner-content">
            <div class="container py-4">
                <div class="row align-items-center pt-sm-5 pt-4">
                    <div class="col-md-6">
                        <h3 class="mb-lg-4 mb-3">
                            TYT | AYT<span class="d-block">DGS | KPSS</span>
                        </h3>
                        <p class="banner-sub">Eğitim Portalına Hoş Geldiniz.</p>
                        <div class="d-flex align-items-center buttons-banner">
                        </div>
                    </div>
                    <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                        <div class="sub-banner-image mx-auto">
                            <img src="/Edu-School-Starter/assets/images/banner.png" class="img-fluid position-relative" alt=" ">
                        </div>
                        <div class="banner-style-1 position-absolute">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services-w3l-block py-5" id="features">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h3 class="title-style">Hakkımızda</h3>
            </div>

            <center>
                <p class="title-style">
                    TYT konularını AYT konularını, DGS konularını, KPSS konularını, LGS konularını video konu anlatımları ile dolu dolu öğrenirken. Hem de ücretsiz olarak derslerin konu anlatım PDF'lerini ÜCRETSİZ olarak bulabileceksiniz. TYT, AYT, KPSS, LGS, DGS soru çözümleri ile de pekiştirebileceğiniz web sitemizdesiniz.
                </p>
            </center>
        </div>
    </section>

    <section class="services-w3l-block py-5" id="features">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <p class="text-uppercase">
                    EğİTİM Portalında Senİ Neler Beklİyor ?
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
                    <div class="icon-box icon-box-clr-1">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title"><a href="#about">Deneyimli Öğretmenler</a></h4>
                        <p>TYT, AYT, DGS ve KPSS konusunda deneyimli ve tecrübeli öğretmenler </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mt-md-0 mt-4">
                    <div class="icon-box icon-box-clr-2">
                        <div class="icon"><i class="fas fa-book-reader"></i></div>
                        <h4 class="title"><a href="#about">Kaliteli Ders İçerikleri</a></h4>
                        <p>Tecrübeli öretmenlerimiz tarafından hazırlanan kaliteli ders içerikleri</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch mt-lg-0 mt-4">
                    <div class="icon-box icon-box-clr-3">
                        <div class="icon"><i class="fas fa-user-graduate"></i></div>
                        <h4 class="title"><a href="#about">Rekabet Ortamı</a></h4>
                        <p>Öğrenciler için hazırlanan, birbirinden eğlenceli rekabet ortamı </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
</body>
</html>
