@{
    ViewData["Title"] = "Deneme";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<h1>Deneme</h1>
<body>

    <form method="post">
        <section class="w3l-blogpost-content py-5">
            <div class="container py-md-5 py-4">
                <div class="row">
                    <div class="text-11 col-lg-12">
                        <div class="text11-content">
                            <label>Soru</label>

                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="1 A" name="1" value="1" class="custom-control-input">
                                        <label class="custom-control-label" for="1 A">
                                            A
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="1 B" name="1" value="2" class="custom-control-input">
                                        <label class="custom-control-label" for="1 B">
                                            B
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="1 C" name="1" value="3" class="custom-control-input">
                                        <label class="custom-control-label" for="1 C">
                                            C
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="1 D" name="1" value="4" class="custom-control-input">
                                        <label class="custom-control-label" for="1 D">
                                            D
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="1 E" name="1" value="5" class="custom-control-input">
                                        <label class="custom-control-label" for="1 E">
                                            E
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <label>Soru</label>

                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="2 A" name="2" value="1" class="custom-control-input">
                                        <label class="custom-control-label" for="2 A">
                                            A
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="2 B" name="2" value="2" class="custom-control-input">
                                        <label class="custom-control-label" for="2 B">
                                            B
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="2 C" name="2" value="3" class="custom-control-input">
                                        <label class="custom-control-label" for="2 C">
                                            C
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="2 D" name="2" value="4" class="custom-control-input">
                                        <label class="custom-control-label" for="2 D">
                                            D
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="skin skin-minimal">
                                <div class="radio-list">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="2 E" name="2" value="5" class="custom-control-input">
                                        <label class="custom-control-label" for="2 E">
                                            E
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success" style="float: right;">Testi Bitir</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </form>
</body>
