
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Böyle bir sayfa bulunamadı!</title>
    <link rel="stylesheet" type="text/css" href="~/hatasayfasi//assets/css/style.css" />
    <link href="~/hatasayfasi/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="~/hatasayfasi/assets/images/404.svg" />
        <br />
        <h3>Böyle bir sayfa bulunamadı! Ana sayfaya geri dönmek için aşağıdaki butona tıklayınız.</h3>
        <br />
        <a class="buton" href="/MerkezeTeget/AnaSayfa">Ana Sayfaya Geri Dön</a>
    </div>
</body>

</html>