
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yetkisiz İşlem</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/yetkisiz/css/style.css" />


</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Ooops!</h1>
            </div>
            <br />
            <br />
            <h2>YETKİSİZ İşlem</h2>
            <p>Bu işlemi gerçekleştirebilmek için lütfen oturum açınız.</p>
            <a href="/Login/GirisYap">Oturum Sayfasına Gİt</a>
        </div>
    </div>

</body>

</html>