<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Merkeze Teğet</span>
                        <span class="text-muted text-xs block">Öğrenci Paneli </span>
                    </a>
                </div>
                <div class="logo-element">
                    Merkeze Teğet
                </div>
            </li>
            <li>
                <a href="/Ogrenci/Profilim"><i class="fa fa-user-o"></i> <span class="nav-label">Profilim</span></a>
            </li>
            <li>
                <a href="/Ogrenci/DersTakip"><i class="fa fa-laptop"></i> <span class="nav-label">İzlediğim Dersler</span></a>
            </li>
            <li>
                <a href="/Ogrenci/Testler"><i class="fa fa-superscript"></i> <span class="nav-label">Çözdüğüm Testler</span></a>
            </li>
            <li>
                <a href="/Ogrenci/Dersler"><i class="fa fa-plus"></i> <span class="nav-label">Yeni Soru Sor</span></a>
            </li>
            <li>
                <a href="/Ogrenci/SorulanSorular"><i class="fa fa-question"></i> <span class="nav-label">Sorulan Sorular</span></a>
            </li>
            <li>
                <a href="/Ogrenci/YapilanYorumlar"><i class="fa fa-comments"></i> <span class="nav-label">Yaptığım Yorumlar</span></a>
            </li>
            <li>
                <a href="/MerkezeTeget/AnaSayfa"><i class="fa fa-home"></i> <span class="nav-label">Ana Sayfa</span></a>
            </li>
            <li>
                <a href="/Login/Logout"><i class="fa fa-home"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>
        </ul>
    </div>
</nav>