<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Merkeze Teğet</span>
                        <span class="text-muted text-xs block">Öğretmen Paneli </span>
                    </a>
                </div>
                <div class="logo-element">
                    Merkeze Teğet
                </div>
            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">TYT</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Ogretmen/Konular/1">Türkçe</a></li>
                    <li><a href="/Ogretmen/Konular/7">Tarih</a></li>
                    <li><a href="/Ogretmen/Konular/8">Coğrafya</a></li>
                    <li><a href="/Ogretmen/Konular/9">Din Kültürü</a></li>
                    <li><a href="/Ogretmen/Konular/10">Felsefe</a></li>
                    <li><a href="/Ogretmen/Konular/2">Matematik</a></li>
                    <li><a href="/Ogretmen/Konular/3">Geometri</a></li>
                    <li><a href="/Ogretmen/Konular/4">Fizik</a></li>
                    <li><a href="/Ogretmen/Konular/5">Kimya</a></li>
                    <li><a href="/Ogretmen/Konular/6">Biyoloji</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">AYT</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Ogretmen/Konular/11">Edebiyat</a></li>
                    <li><a href="/Ogretmen/Konular/12">Tarih</a></li>
                    <li><a href="/Ogretmen/Konular/13">Coğrafya</a></li>
                    <li><a href="/Ogretmen/Konular/14">Din Kültürü</a></li>
                    <li><a href="/Ogretmen/Konular/15">Felsefe</a></li>
                    <li><a href="/Ogretmen/Konular/16">Matematik</a></li>
                    <li><a href="/Ogretmen/Konular/17">Geometri</a></li>
                    <li><a href="/Ogretmen/Konular/18">Fizik</a></li>
                    <li><a href="/Ogretmen/Konular/19">Kimya</a></li>
                    <li><a href="/Ogretmen/Konular/20">Biyoloji</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">KPSS</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Ogretmen/Konular/21">Türkçe</a></li>
                    <li><a href="/Ogretmen/Konular/22">Matematik</a></li>
                    <li><a href="/Ogretmen/Konular/23">Geometri</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">DGS</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Ogretmen/Konular/24">Türkçe</a></li>
                    <li><a href="/Ogretmen/Konular/25">Matematik</a></li>
                    <li><a href="/Ogretmen/Konular/26">Geometri</a></li>
                </ul>
            </li>
            <li>
                <a href="/MerkezeTeget/AnaSayfa"><i class="fa fa-home"></i> <span class="nav-label">Ana Sayfa</span></a>               
            </li>
            <li>
                <a href="/Login/Logout"><i class="fa fa-home"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>
        </ul>
    </div>
</nav>